# Reactor
REACTOR_LANG=python2
REACTOR_NAME=
REACTOR_DESCRIPTION=
REACTOR_PRIVILEGED=0
REACTOR_WORKERS=1
REACTOR_STATELESS=
REACTOR_DEFAULT_ENVIRONMENT="{}"
REACTOR_USE_UID=

# Service Registry
REACTOR_ALIAS=

# Docker image
DOCKER_HUB_ORG=
DOCKER_IMAGE_TAG=marcel
DOCKER_IMAGE_VERSION=dev
